"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "993c05e7-021c-4489-b32b-8b5c212bf749"
  "ide-haskell":
    onSavePrettify: true
  "plantuml-preview":
    dotLocation: "/usr/local/bin/dot"
    jarLocation: "/usr/local/share/plantuml.jar"
    java: "/usr/bin/java"
  welcome:
    showOnStartup: false
